$primary: #0275d8;
$secondary:#f7f7f9;
$third: #FCEFC2;
$fourth: #F7DC93;

$bg_primary: #fff;
$bg_secondary: #f1f1f1;
$red: #D80030;

$nav_link:lighten($primary,50%);
$nav_link_hover:#000;

$border_color:#e0e0e0;
$border_color2:$primary;