@import "include/core";

body {
    //padding-top: 60px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
    margin-bottom: 60px;
}

span.active {
    color: #009900;
}

span.inactive {
    color: #ff0000;
}

.navbar.bd-navbar{
	background: #bbb;
	.nav-link{
		color:white;
		&:hover{
			color:black;
		}	
	}
}

a.dropdown-item.active{
	background: #ddd;
}
.admin-page-header{
	font-size: 2rem;
	border-bottom: 1px solid #eee;
	line-height: 1.2em;
	margin-bottom: 10px;
	margin-top: 14px;
}

.remove{
	font-size: 1.2em;
}
.hide{
	display: none;
}
.red{
	color: $red;
}
.field{
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 8px 12px;
	background: $bg_secondary;
}

select.form-control-sm{
	height: 32px;
}

.form-error{
	border-color: #AB3734;
}

.form-error-big{
	border: 1px solid !important;
    border-color: #AB3734 !important;
    border-radius: 5px 5px !important;
    padding: 9px;
}

/* Date time picker */

.datetimepicker-sm{
	display: inline;
	width: 40%;
}

@media (min-width: 1100px){
	.datetimepicker-sm{;	
		width: 60%;
	}
}

@media (min-width: 1400px){
	.datetimepicker-sm{
		width: 70%;	
	}
}

@media (min-width: 1800px){
	.datetimepicker-sm{
		width: 80%;
	}
}

.clear-datetimepicker{
	float: right;
}

/* Tests page */

.loader{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("loader.gif") center no-repeat #fff;
}

.number-add-slide{
	max-width: 80px;	
    margin-left: 2px;
}

.slide{
    border: 0.5px dashed #d9d9d9;
    margin-bottom: 0.7rem;
}

.trigger{
	margin-top: 0.5rem;

	.time-trigger{
		margin-top: 0.2rem;
	}
}

.stimuli{
	margin-top: 0.5rem;

	label{
		margin-top: 0.2rem;
	}

	.stimuli-upload{
		margin-top: 0.5rem;
	}

	.dropdown-toggle::after{
		margin-bottom: .3em;
	}

	table{
		th{
			padding: 3px;
		    font-weight: 100;
		    border-bottom: 0;

			strong{
			    margin-left: 0.3em;
			}
		}

		td{
			input{
				margin-top: 0.3em;
			}
		}
	}

	.stimuli-filters {
		border-top: hidden;

		input.stimuli-filter {
			max-width: 4em;
		}
	}
}

.pagination{
	.page-link{
		display: block;
	}
}

.page-link{
	display: none;
}

/* Batteries page */

.droptrue{
	padding-left: 0;
	background: #F1F1F1;
	padding-top: 1.5rem;
	padding-bottom: 3rem;
	padding-right: 1.2rem;
	padding-left: 1.2rem;
	min-height: 175px;

	li{
		list-style: none;    
		padding: 0.3rem;
    	margin-top: 0.3rem;
    	border-radius: 0.2rem;
    	font-size: 1.2rem;
    	cursor: move;

    	.get-info{
    		padding-right: 0.5rem;
    		cursor: pointer;
    	}
	}	
}

.ui-sortable-placeholder{
	height: 40px;
}

.ui-state-highlight
{
	background: red !important;  
}

#tests_added.droptrue{
	li{
		background: hsla(208, 98%, 43%, 0.8);
    	color: white;
    	border: none;
	}
}

.small {
	font-size: 0.6em;
}


/*****************************************************************************/
/*  Additional color classes for striped tables (Bootstrap Standard Colors)  */
/*****************************************************************************/

.table-striped-error tbody > tr:nth-child(odd) > td,
.table-striped-error tbody > tr:nth-child(odd) > th {
    background-color: #f2dede; /* red-bar */
}

.table-hover-error > tbody > tr:hover > td,
.table-hover-error > tbody > tr:hover > th {
    background-color: #edd9d9 !important;
}

/*****************************************************************************/

.table-striped-success tbody > tr:nth-child(odd) > td,
.table-striped-success tbody > tr:nth-child(odd) > th {
    background-color: #dff0d8; /* green-bar */
}

.table-hover-success > tbody > tr:hover > td,
.table-hover-success > tbody > tr:hover > th {
    background-color: #daebd3 !important;
}

/*****************************************************************************/

.table-striped-info tbody > tr:nth-child(odd) > td,
.table-striped-info tbody > tr:nth-child(odd) > th {
    background-color: #d9edf7; /* blue-bar */
}

.table-hover-info > tbody > tr:hover > td,
.table-hover-info > tbody > tr:hover > th {
    background-color: #d4e8f2 !important;
}

/*****************************************************************************/

.table-striped-warning tbody > tr:nth-child(odd) > td,
.table-striped-warning tbody > tr:nth-child(odd) > th {
    background-color: #fcf8e3; /* yellow-bar */
}

.table-hover-warning > tbody > tr:hover > td,
.table-hover-warning > tbody > tr:hover > th {
    background-color: #f7f3de !important;
}

@media (max-width: 34em){
	.card-header,{
		h3{
			display: block;
			clear: both;
		}
		.btn{
			margin-left: 5px;
		}
	}
}

/* add badge bootstrap */

.badge {
	display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.badge:empty {
  display: none;
}

.btn .badge {
  position: relative;
  top: -1px;
}

a.badge:focus, a.badge:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.badge-default {
  background-color: #636c72;
}

.badge-default[href]:focus, .badge-default[href]:hover {
  background-color: #4b5257;
}

.badge-primary {
  background-color: #0275d8;
}

.badge-primary[href]:focus, .badge-primary[href]:hover {
  background-color: #025aa5;
}

.badge-success {
  background-color: #5cb85c;
}

.badge-success[href]:focus, .badge-success[href]:hover {
  background-color: #449d44;
}

.badge-info {
  background-color: #5bc0de;
}

.badge-info[href]:focus, .badge-info[href]:hover {
  background-color: #31b0d5;
}

.badge-warning {
  background-color: #f0ad4e;
}

.badge-warning[href]:focus, .badge-warning[href]:hover {
  background-color: #ec971f;
}

.badge-danger {
  background-color: #d9534f;
}

.badge-danger[href]:focus, .badge-danger[href]:hover {
  background-color: #c9302c;
}
