@import 'include/_variables';

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

.padding-override {
    padding: 0 15px !important;
}
.login-container{
	margin-top:20px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input{
    border-color:$primary;
}



/* LOGIN */

.card-container.card {
    max-width: 350px;
    border:1px solid $primary;
    img{
	    margin: auto;
    }
}

.card {
    background-color: $bg_secondary;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
}
