@import "include/core";

html {
	background: $bg_primary;
	position: relative;
	min-height: 100%;
}
body{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	padding-bottom: 60px;
}

.footer {
	text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: $primary;
  border-top:1px solid #ccc;
  p{
	  margin: 0;
		color: lighten($primary,40%);
		span{
			color: #ff7d7d;
		}
		a{
			color:white;
		}
  }
}
.space5{
	clear: both;
	height: 5px;
}
.space10{
	clear: both;
	height: 10px;
}
.space20{
	clear: both;
	height: 20px;
}

.required {
    color: #ff0000;
    font-style: italic;
}
.no-display{
	display: none;
}
h1,h2,h3,h4,h5,h6,b,strong{
	font-weight: 400 !important;
}
#captcha {
    width: 100px !important;
    display: inline-block !important;
}
.btn{
	&:focus{
		outline: none;
	}
	&.btn-link{
		text-decoration: none;
		&:hover{
			text-decoration: none;	
		}
	}
}
.table{
	td{
		font-size: 0.9rem;
	}
	th{
		font-weight: 400;
		a{
			font-weight: 400;
		}
	}
}

.datepicker-dropdown{
	font-size: 14px;
	table td.day{
		&.today{
			background:#FBF1A4 !important;
			&.active{
				background:#3086E4 !important;
			}
		}
		&.active{
			background:#3086E4 !important;
		}
	}
}
.table .bootstrap-datetimepicker-widget {
	th, td{
		padding: 0;
	}
}
.hidden{
	display: none;
}
dt{
	font-size: 0.9rem;
}
hr{
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
.page-header {
    color: black;
    padding-top: 6px;
    padding-bottom: 0rem;
    text-align: center;
    background-color: white;
    .title{
	    border-top: 1px solid $border_color2;
	    border-bottom: 1px solid $border_color2;
	    background: $bg_secondary;
	    padding-top:0.5rem;
	    margin-top:0.5rem;
    }
    h1,h2,h3{
	    padding: 0;
	    margin: 0;
	    color: $primary;
    }
    h1{
	    font-size: 1.8rem;
	    padding-bottom: 0.5rem;
    }
    p{
	    margin: 0;
    }
    .nav-pills{
	    padding: 4px 4px;
	    border-radius: 0.5rem;
	    background: white;
	    overflow: hidden;
	    .nav-link{
		    padding: 4px 10px;
		    line-height: 1.4em;
		    font-size: 1.2em;
		    &.active:hover{
			    background: $primary;
		    }
		    &:hover{
			    background: $bg_secondary;
		    }
	    }
    }
}
.page-container{
	padding-top: 1rem;
}

.card{
	border:0;
	.card-block{
		padding: 0.75rem;
	}
	table.table{
		margin-bottom: 0;
	}
	.card-footer,.card-header{
		padding: 0.75rem;
		background: $bg_secondary;
	}
	.card-header{
		.btn{
			margin-left: 5px;
		}
		h3{
			padding: 0;
			margin: 0;
			font-size: 1.4em;
		}
		
	}
}
.modal-header{
	.close-margin{
		margin-right:20px;
	}
}
.well{
	background-color: $bg_secondary;
	padding: 20px;
	border: 1px solid $primary;
	margin-bottom: 40px;
}
fieldset.bordered {
    border: 1px solid rgb(204, 204, 204) !important;
    padding: 0 1em 0.4em 1em !important;
  legend {
    font-size: 1.2em !important;
    font-weight: 400;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
	}
}
input{
	font-weight: 400;
}

.input-group{
	.input-group-addon{
		padding:4px;
	}
}

.input-group.date{
	max-width: 150px;
}


.no-padding{
	padding:0 !important;
}

@media (max-width: 34em){
	header{
		.container{
			margin: 0;
			padding: 0;
		}
	}
	.navbar-nav{
		text-align: center;
		li{
			border-bottom:1px solid #ddd;
			width: 100%;
			margin: 0 !important;
			clear: both;
		}
		.dropdown-menu{
			width: 100%;
			margin-top: 0;
		}
		&.pull-right{
			float: none !important;
		}
	}
	.page-header{
    	.nav-pills{
			margin-left: 0;
		}
	}
}

@media (max-width: 400px){ //smarthphone small
	input.form-control{
		font-size: 1.1em;
	}
}
@media print {
  [class*="col-sm-"] {
    float: left;
  }
  fieldset{
	  legend{
		  backgroung:white;
	  }
  }
}
@media (min-width: 992px){
	.modal-lg {
	    max-width: 992px;
	}
}

/* do_test page */

#btnDoTest{	
	font-size: 1.6rem;
}

.slide{
	font-size: 1.4rem;

	.top-text{
		text-align: center;
		margin-bottom: 1em;
	}

	.slide-text{
		text-align: justify;
	    -moz-text-align-last: center;
	    text-align-last: center;
	    position: fixed; 
		top: 48%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.multi-texts{
		.text{
			margin-bottom: 1em;
		    border: 1px dashed #d9d9d9;
		    padding: 0.5em;
		    cursor: pointer;

		    &:hover{
		    	background: #2ECC71;
		    	color: white;
		    	border: 0;
		    }
		}
	}

	.image{
		img{
			max-width: 900px;
    		max-height: 550px;
			margin: auto;
			position: absolute;
		    top: 0px;
		    left: 0;
		    bottom: 0;
		    right: 0;
		}
	}

	.images-spread{
		img{
			cursor: pointer;
			max-width: 190px;
			max-height: 150px;
   			margin: 0 auto;
		}

		td{
		    padding-top: 10px;
    		padding-right: 7px;
    		padding: 0px 20px 20px 10px;
    		border: 0;
		}
	}

	.table{
	    margin: auto;
	}
	.divTableRow {
		display: table-row;
	}
	.divTableHeading {
		background-color: #EEE;
		display: table-header-group;
	}
	.divTableCell, .divTableHead {
		display: table-cell;
		padding: 15px 10px;
	}
	.divTableHeading {
		background-color: #EEE;
		display: table-header-group;
		font-weight: bold;
	}
	.divTableFoot {
		background-color: #EEE;
		display: table-footer-group;
		font-weight: bold;
	}
	.divTableBody {
		display: table-row-group;
	}
}

.slide-buttons{
	bottom: 6rem;
    position: absolute;
    width: 100%;

	.btn.disabled, .btn:disabled {
		cursor: pointer;
		opacity: inherit;
		background: white;
		color: #0275d8; 

		&:hover{
		    color: #fff;
		    background-color: #0275d8;
		    border-color: #0275d8;
		}
	}
}

.error-slide{
	text-align: center;
	font-weight: bold;
}

.loader{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("loader.gif") center no-repeat #fff;
}

.timer {
    background: transparent;
    max-width: 400px;
    margin: auto;
    margin-bottom: 1em;
    text-align: center;
    color: #0275d8;
}

@media (min-width: 10em){
	.slide-buttons{
		max-width: 90%;
		font-size: 0.9rem;
	}
}

@media (min-width: 34em){
	.slide-buttons{;	
		max-width: 95%;
		font-size: 0.9rem;
	}
}

@media (min-width: 48em){
	.slide-buttons{
		max-width: 95%;	
		font-size: 0.9rem;
	}
}

@media (min-width: 62em){
	.slide-buttons{
		max-width: 95%;
		font-size: 1rem;
	}
}
@media (min-width: 75em){
	.slide-buttons{
		max-width: 72.5em;
		font-size: 1rem;
	}
}

